---
import Parrafo from "./Parrafo.astro";

export interface estudio {
  titulo: string;
  institucion: string;
  logo: string;
  fecha: string;
}

const {estudio} = Astro.props;

---
<article class="flex gap-4 items-center py-4 px-4 rounded-lg border bg-gray-800/70 border-gray-700/50 hover:border-azul-cielo transition-all">
  <div>
    <img width="80px" height="80px" class="max-w-full h-auto" src={"/" +estudio.logo} alt={estudio.titulo} />
  </div>
  <div>
    <h2 class="text-xl font-semibold">
      {estudio.titulo}
    </h2>
    <Parrafo parrafo={estudio.fecha} size="text-xs" color="text-gray-500" />
    <Parrafo parrafo={estudio.institucion} size="text-sm" />
  </div>
</article>


<!-- <article class="border overflow-clip rounded-lg shadow bg-gray-800/70 border-gray-700/50 hover:border-azul-cielo transition-all ">
  <div class="board">
    <div aria-hidden="true" class="fluid py-2">
      <img class="w-fit mx-auto" src={estudio.logo} alt={estudio.titulo}>
    </div>
  </div>
  <div class="details text-center">
    <h2 class="text-2xl">
      {estudio.titulo}
    </h2>
    <Parrafo parrafo={estudio.institucion} />
  </div>
</article>

<style>
  article {
    width: clamp(360px, 50vw, 400px);
    min-height: 200px;
    max-height: 450px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 1rem;
    gap: 1rem;
    font-family: 'Roboto', sans-serif;
  }

  .board {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    position: relative;
    container-type: inline-size;
    overflow: hidden;
    filter: contrast(2);
    flex: 1;
  }

  .board .fluid {
    margin: 0;
    font-size: 8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1em;
    font-family: 'Roboto', sans-serif;
    filter: blur(2px) brightness(1.5);
    color: hsl(180 100% 50%);
    height: 100%;
    width: 100%;
    mask: radial-gradient(circle at center, #000 1px, #0000 1px) 50% 50% /
      1.5cqi 1.5cqi;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s;
  }

  article:hover .board .fluid {
    opacity: 1;
  }


  article .board::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 2;
    mix-blend-mode: plus-lighter;
    background: radial-gradient(
        circle at center,
        hsl(0 0% 40%) 1px,
        transparent 1px
      )
      50% 50% / 1.5cqi 1.5cqi;
  }
</style> -->