---
import type { AboutDataType } from "../types.ts";
export interface Props {
  aboutData: AboutDataType;
}

const { aboutData } = Astro.props;

import Parrafo from "../components/Parrafo.astro";
import Ribbow from "../components/Ribbow.astro";
import Titulo from "../components/Titulo.astro";
---

<section id="about" class="spacing-lg">
  <div class="max-w-[950px] mx-auto fade-in">
    <div>
      <div class="flex flex-col items-center">
        <Ribbow>{aboutData.etiqueta}</Ribbow>
        <Titulo titulo={aboutData.titulo} resaltar={aboutData.tituloResaltado} />
      </div>
    </div>
    <div class="flex flex-col lg:flex-row gap-8 mt-8 md:mt-16">
      
      <div class="min-w-56 aspect-[3/4] mx-auto lg:mx-0 card relative border border-slate-700 rounded-3xl overflow-hidden group">
        <img src={`/${aboutData.rutaFoto}`} alt="Daniel Amado" class="w-full h-full object-cover object-center group-hover:scale-105 transition-transform duration-300 ease-in-out" loading="lazy" />
        <div class="absolute inset-0 w-full h-full p-2 flex">
          <div class="mt-auto mx-auto">
            <h2
              class="inline-block bg-azul-cielo/10 text-white font-bold px-4 py-1 text-xl rounded-full backdrop-blur-xl"
            >
              {aboutData.nombre}
            </h2>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center lg:items-start justify-center space-y-8">
        <Parrafo parrafo={aboutData.parrafo}/>
      </div>
    </div>
  </div>
</section>

<style>
  .aspect-custom {
    aspect-ratio: 3/4;
    width: 300px;
  }

  /* #about-info {
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
  } */

</style>
