---
import type { AboutDataType } from "../types.ts";
export interface Props {
  aboutData: AboutDataType;
}

const { aboutData } = Astro.props;

import Parrafo from "../components/Parrafo.astro";
import Ribbow from "../components/Ribbow.astro";
import Titulo from "../components/Titulo.astro";
---

<section id="about" class="py-36 lg:py-60">
  <div class="max-w-[1000px] mx-auto" id="about-info">
    <div class="flex flex-col lg:flex-row gap-8">
      <div
        class="min-w-64 mx-auto lg:mx-0 card relative aspect-custom border-2 border-slate-700 rounded-3xl overflow-hidden"
      >
        <div
          class="absolute inset-0 w-full h-full"
          style={`background-image: url('${"/"+aboutData.rutaFoto}'); background-size: cover; background-position: center;`}
        >
        </div>
        <div class="absolute inset-0 w-full h-full p-6 flex">
          <div class="mt-auto">
            <h2
              class="inline-block bg-slate-100 text-black font-bold px-2 text-xl"
            >
              {aboutData.nombre}
            </h2>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center lg:items-start justify-center space-y-8">
        <div class="flex flex-col items-center lg:items-start">
          <Ribbow>{aboutData.etiqueta}</Ribbow>
          <Titulo titulo={aboutData.titulo} resaltar={aboutData.tituloResaltado} />
        </div>
        <Parrafo parrafo={aboutData.parrafo}/>
      </div>
    </div>
  </div>
</section>

<style>
  .aspect-custom {
    aspect-ratio: 3/4;
    width: 300px;
  }

  /* #about-info {
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
  } */

  #about-info {
    animation: show linear both;
    animation-timeline: view();
    animation-range: entry 25% cover 40%;
  }

  @keyframes show {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
