---
import type { EducationDataType } from "../types.ts";
export interface Props {
  educationData: EducationDataType;
}

const { educationData } = Astro.props;

import Parrafo from "../components/Parrafo.astro";
import Ribbow from "../components/Ribbow.astro";
import Titulo from "../components/Titulo.astro";
import ItemDegree from "../components/ItemDegree.astro";
---

<section id="Education" class="spacing-md">
  <div class="relative">
    <div class="flex flex-col items-center space-y-6">
      <div class="flex flex-col items-center">
        <Ribbow>{educationData.etiqueta}</Ribbow>
        <Titulo
          titulo={educationData.titulo}
          resaltar={educationData.tituloResaltado}
        />
      </div>
      <Parrafo parrafo={educationData.parrafo} />
    </div>
  </div>
  <div class="mt-12 md:mt-20 relative">
    <div class="max-w-[1200px] mx-auto flex flex-wrap justify-center">
      {
        educationData.estudios.map((estudio) => (
          <ItemDegree estudio={estudio} />
        ))
      }
    </div>
  </div>
</section>

