---
import type { HeroDataType, SkillsDataType } from "../types.ts";
export interface Props {
  heroData: HeroDataType;
  logos: SkillsDataType["skills"];
}

const { heroData, logos } = Astro.props;

import BotonPrincipal from "../components/BotonPrincipal.astro";
import Botonsegundario from "../components/Botonsegundario.astro";
import Ribbow from "../components/Ribbow.astro";
import Parrafo from "../components/Parrafo.astro";
import SliderSkills from "../components/SliderSkills.astro";
---

<section id="hero" class="py-40">
  <div>
    <div class="relative mt-4">
      <div class="flex justify-center">
        <Ribbow fontsize="text-sm">{heroData.estado}</Ribbow>
      </div>
      <h1 class="text-5xl md:text-7xl text-center font-semibold">
        👋🏻{heroData.saludo} <span
          class="bg-gradient-to-r from-azul-cielo to-azul-claro inline-block text-transparent bg-clip-text font-bold"
          >{heroData.nombre}!</span
        >
      </h1>
      <div class="text-center mt-4">
        <Parrafo parrafo={heroData.perfil}/>
      </div>
      <div class="flex justify-center gap-3 md:gap-4 mt-4">
        <BotonPrincipal url={heroData.LinkedIn} title="LinkedIn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-5 w-5 mr-2"
            ><path
              d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
            ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"></path><path
              d="M12 16l0 -5"></path><path d="M16 16v-3a2 2 0 0 0 -4 0"
            ></path></svg
          >
        </BotonPrincipal>
        <BotonPrincipal url={heroData.GitHub} title="Github">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-5 w-5 mr-2"
            ><path
              d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
            ></path>
          </svg>
        </BotonPrincipal>
        <Botonsegundario url={heroData.CV} title="CV">
          <svg
            version="1.0"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 100.000000 100.000000"
            class="h-[1.15rem] w-4 mr-2"
          >
            <g
              transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)"
              fill="currentColor"
              stroke="currentColor"
              stroke-width="50"
            >
              <path
                d="M120 500 l0 -500 380 0 380 0 0 353 0 352 -148 148 -147 147 -233 0
                -232 0 0 -500z m440 320 l0 -140 140 0 140 0 0 -320 0 -320 -340 0 -340 0 0
                460 0 460 200 0 200 0 0 -140z m250 -97 c0 -2 -47 -3 -105 -3 l-105 0 0 107 0
                108 105 -105 c58 -58 105 -106 105 -107z"
              ></path>
            </g>
          </svg>
        </Botonsegundario>
      </div>
    </div>
    <div class="mt-24 space-y-8">
      <SliderSkills logos={logos} />
      <SliderSkills logos={logos} reversed={true} />

    </div>
  </div>
</section>
