---
import type { ProjectsDataType } from "../types.ts";
export interface Props {
  projectsData: ProjectsDataType;
  idioma: string;
}

const { projectsData, idioma } = Astro.props;

import Parrafo from "../components/Parrafo.astro";
import Ribbow from "../components/Ribbow.astro";
import Titulo from "../components/Titulo.astro";
import ProjectsSection from "../components/ProjectsSection";
---

<section id="projects" class="spacing-md relative">
  <div class="blur-3xl relative -z-10 pointer-events-none">
    <div
      class="absolute right-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] translate-x-1/2 rotate-[10deg] bg-custom-radial-1 al-1 opacity-20 sm:right-[calc(50%-30rem)] sm:w-[60rem]"
    >
    </div>
  </div>
  <div>
    <div class="flex flex-col items-center space-y-6">
      <div class="flex flex-col items-center">
        <Ribbow>{projectsData.etiqueta}</Ribbow>
        <Titulo
          titulo={projectsData.titulo}
          resaltar={projectsData.tituloResaltado}
        />
      </div>
      <div class="max-w-4xl mx-auto text-center">
        <Parrafo parrafo={projectsData.parrafo} />
      </div>
    </div>
    <div class="mt-12 md:mt-20">
      <ProjectsSection client:load projectsData={projectsData} />
    </div>
  </div>
</section>




