---
import type { SkillsDataType } from "../types.ts";

export interface Props {
  skillsData: SkillsDataType;
}

const { skillsData } = Astro.props;

import Ribbow from "../components/Ribbow.astro";
import Titulo from "../components/Titulo.astro";
import Parrafo from "../components/Parrafo.astro";
import ItemSkill from "../components/ItemSkill.astro";
---

<section id="skills" class="spacing-md relative">
  <div class="flex flex-col items-center space-y-6 relative">
    <div class="flex flex-col items-center">
      <Ribbow>{skillsData.etiqueta}</Ribbow>
      <Titulo
        titulo={skillsData.titulo}
        resaltar={skillsData.tituloResaltado}
      />
    </div>
    <div class="max-w-4xl mx-auto text-center">
      <Parrafo parrafo={skillsData.parrafo} />
    </div>
  </div>
  <div class="blur-3xl -z-10 relative pointer-events-none">
    <div
      class="absolute aspect-[4/2] w-[30rem] rotate-[10deg] bg-custom-radial-1 al-1 opacity-20 sm:w-[50rem]"
    >
    </div>
  </div>
  <div class="mt-12 md:mt-20 relative">
    <div class="max-w-[1100px] mx-auto">
      <div class="relative grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">
        {
          skillsData.skills.map((skill) => (
            <ItemSkill skill={skill} />
          ))
        }
      </div>
    </div>
  </div>
</section>

